*{
    font-family: Arial, Helvetica, sans-serif serif;
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'Pacifico, Courgette';
    src: url(/Font/Pacifico-Regular.ttf,Pacifico-Regular.ttf);
}

body{
    background-color: black;
}

/* Navbar Style Start */

.navbar{
    background-color: black !important;
}

.navbar-toggler{
    background-color: #FFCA14 !important;
}

.logoimg{
    width: 12em;
}

.nav-link{
    font-weight: bold;
    color: #ffffff !important;
}

.nav-link:hover{
    color: #FFCA14 !important;
}

/* Navbar Style End */

/* Crousel Style Start */

.carousel{
    border: 10px solid #FFCA14;
    border-radius: 5px;
}

/* Crousel Style End */

/* New Recipe Heading Style Start */

.heading{
    font-family: 'Pacifico' !important;
    text-align: center;
    margin: 30px;
    color: #FFCA14;
    text-decoration: underline;
    font-family: fantasy;
}

/* New Recipe Heading Style End */

.newrecipe{
    margin-top: 50px;

}

/* New recipe card Style Start */

.card-title{
    font-family: 'Courgette';
}

.card-text{
    color: black;
    font-weight: bold;
}

.card{
    margin: 20px;
}


.card-btn{
    position: relative;
    display: inline-block;
    width: 100%;
    color: #ffffff;
    background-color: black;
    text-decoration: none !important;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 1px;
}

.card-btn:hover{
    color: black;
    background-color: #FFCA14;
    box-shadow: 0 0 5px #FFCA14,
                0 0 25px #FFCA14,
                0 0 50px #FFCA14,
                0 0 200px #FFCA14;
}

.card-btn span{
    position: absolute;
    display: block;
}

.card-btn span:nth-child(1){
    top: 0;
    left: -100;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#FFCA14);
    animation: animate1 1s linear infinite; 
}

@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}

.card-btn span:nth-child(2){
    top: -100;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#FFCA14);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s; 
}

@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}

.card-btn span:nth-child(3){
    bottom: 0;
    right: -100;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#FFCA14);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s; 
}

@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}

.card-btn span:nth-child(4){
    bottom: -100;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#FFCA14);
    animation: animate4 1s linear infinite;
    animation-delay: 0.85s; 
}

@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

/* New recipe card Style End */

/* About Us Style Start */

.about-us{
    height: 70vh;
    margin: 160px 0;
    background-image: url(Images/About\ us\ img.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;        
    -moz-background-size: cover;        
    -ms-background-size: cover;          
    -o-background-size: cover;    
}

.about-heading{
    color: #FFCA14;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.about-heading h1{
    font-family: 'Pacifico' !important;
    text-decoration: underline;
    color: #FFCA14;
    
}

.about-txt{
    margin-top: 20px;
    color: black;
}

.about-txt p{
    text-align: center;
    line-height: 1.9em;
    letter-spacing: 2px;
    font-family: 'Courgette';
    font-size: 19.4px;
}

.menu-div{
    background: url(Images/Menu\ pic.png) no-repeat center center;
    width: 100%;
    height: 36vh;
    background-size: cover;
}

.Menu-btn{
    width: 20% !important;
    margin: 0px 0px 20px 30px;
    
}

.menu-div{
    display: flex;
    flex-direction: column !important;
    justify-content: flex-end;
}

/* About Us Style Start */

/* Footer Style start */

.footer{
    background-color: #0f1112;
    margin: 90px 60px 0px 60px;
}

.footer-center{
    text-align: center;
}

.footer-inline li, a{
    display: inline-block;
}

.footer-ul{
    list-style: none;
}

.footer-ul li{
    margin: 30px 0px 0px 0px;
}

.footer-ul li a{
    background-color: black;
    border-radius: 90px;
    padding: 10px;
    margin: 5px 7px 0px 0px;
}

.social-icon{
    color: yellow;
    margin: 3px; 
}

.social-f{
    color: yellow;
    margin: 6px;
}

.footer-txt a, p{
    color: gray;
}

.line{
    color: yellow;
}

.copyright{
    padding: 10px 0px 15px 0px; 
}

.copyright p{
   margin: 0px;
}

/* Footer Style End */

@media all and (max-width: 576px){

    .about-txt p{
        font-size: 13px;
    }

    .Menu-btn{
        width: auto !important;
        
    }

    .footer{
        margin: 30px 0px 0px 0px;
    }

    .card{
        width: 19rem !important;
    }
}
